.OuterImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 60px 50px 60px;
    /* Default style for larger screens */
    width: 90%;
    max-width: 100%;
}

.OuterImg img {
    width: 100%; /* Ensure image takes full width of its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent image from overflowing */
}

/* Responsive adjustments */

/* For screens smaller than 1024px */
@media (max-width: 1024px) {
    .OuterImg {
        margin-top: 70px;
        margin-bottom: 40px;
    }
}

/* For screens smaller than 768px (tablets and large phones) */
@media (max-width: 768px) {
    .OuterImg {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

/* For screens smaller than 480px (smaller phones) */
@media (max-width: 480px) {
    .OuterImg {
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .OuterImg img {
        width: 90%; /* Slightly reduce image width on small screens */
    }
}
